.card{
    min-height: 100px;
    max-width:250px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
.card-img-top{
    max-height: 2500px;
    object-fit: none;
    object-position: center;
}

.col-md-8{
    max-width: none;
}

.container{
    padding-right: 15px !important;
    padding-left: 15px !important;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.leftForm{
    margin-left: 4%;
}